# Server
PORT=3000
NODE_ENV=development
FRONTEND_URL=http://localhost:4200

# Supabase
SUPABASE_URL=
SUPABASE_ANON_KEY=
SUPABASE_SERVICE_ROLE_KEY=

SUPABASE_JWT_SECRET=

# Email
RESEND_API_KEY=

# JWT
JWT_SECRET=
JWT_EXPIRES_IN=7d

# App
BASE_DOMAIN=localhost

# Vercel
VERCEL_API_TOKEN=
VERCEL_PROJECT_ID=
VERCEL_TEAM_ID=        # opcional, solo si usás un team

# Domain verification
DOMAIN_CHECK_INTERVAL_MS=300000   # 5 minutos